*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-size: 1229px 577px;
    background: cover;
}
.navbar{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
}
.list{
    position: relative;
    display: flex;
    left: 60px;
    flex-direction: row;
    list-style: none;
}
.list-item{
    position: relative;
    margin: 22px;
    font-size: 10px;
    color: #ffffff;
}
.button-small{
    position: relative;
    display: flex;
    background-color:#ba0cc5 ;
    color: #ffffff;
    font-size: 10px;
    padding: 7px 18px;
    border-radius: 5px;
    left: 590px;
}

.logo{
    width: 60px;
    margin-left: 30px;
}
.hero{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.hero-heading{
    position: relative;
    display: flex;
    width: 580px;
    font-family: sans-serif;
    color: white;
    top: 120px;
    left: 380px;
    font-size: 50px;
}
.hero-description{
    position: relative;
    display: flex;
    top: 190px;
    right: 120px;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}
.button-large{
    position: relative;
    display: flex;
    top: 240px;
    right: 362px;
    color: #ebe2e2dc;
    background-color: #ba0cc5;
    border: 2px ;
    border-radius: 3px;
    padding: 8px 15px;
    font-size: 8px;
    font-weight: 600;
    font-family: sans-serif;

}