* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
  }
  body{
    background-color: #333023;
  
  }
  
  /* ------------------------------ */
  /* ---------- NAVBAR ------------ */
  /* ------------------------------ */
  nav{
    position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .logo{
    height:32px;
    margin-left: 80px;
  }
  .list{
    display: flex;
    list-style: none;
    margin-left: 352px;
    
  }
  .list-item{
    position: relative;
    padding: 25px;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
  }
  .button-small{
    display: inline;
    padding: 8px 25px;
    border: 2px solid #665C2C;
    border-radius: 5px;
    font-size: 9px;
    word-spacing: 1px;
    font-family: sans-serif;
    background-color:#333023;
    color: #ebc713dc;
    margin-left:50px ;
  }
  
  /* ------------------------------ */
  /* ---------- HERO ------------ */
  /* ------------------------------ */
  .hero{
    display:flex;
    align-items: center;
    width: 100%;
  
  }
  .hero-heading{
    position: relative;
    top: 60px;
    left: 22px;
    text-align: center;
    width: 560px;
    font-size: 60px;
    font-weight: 900;
    justify-content: space-between ;
    color: #f1f0ef;
    font-family: Montserrat;
    ;
  }
.hero-para{
    position: relative;
    width: 760px;
    top: 55px;
    color: white;
    left: 120px;
    font-family:-apple-system, BlinkMacSystemFont, Roboto, ;
}
.bottom-div{
  width: 100%;
}
.bottom-image{
  position: relative;
  display: flex;
  top: 130px;
  height: 216px;
  width: 100%;
  
}
